/google_drive_api/
/file_ids.xlsx
/files_table.py
*.ini
/.idea
/mongoDB.ipynb
/Data/Dance_file_ids.xlsx
/Data/
/.ipynb_checkpoints/
/.vscode/
/tests/Resources/PGdOg_pers_report.xlsx

/copyright_repairs_results_18102021.xlsx
/copyright_repairs_results_18102021_1.xlsx
*.xlsx
/YY_Hierarchy.ipynb
/DCIN AUDIO.ipynb
Architecture/Alma_brief_records.gdraw
Architecture/Preprocess_0.gdraw
Architecture/Preprocess_1.gdraw
Architecture/Preprocess_2.gdraw
